.submit-btn {
    background-color: #A35638;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
}

.favorites-section {
    white-space: nowrap;
    overflow-x: auto;
    padding: 1rem 0;
  }

  .favorite-item {
    display: inline-block;
  }

  .favorite-cover {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
  }

  .favorite-cover:hover {
    transform: scale(1.05); 
  }

  .favorites-section::-webkit-scrollbar {
    height: 8px;
  }

