.title {
    font-family: 'Indie Flower';
    font-size: 2.4rem;
    color: #3d2b1f;
    text-align: center;
    margin: 2rem;
  }
  
  .card {
    padding: 0 3rem;
    background-color: #FCEBCF;
    border: 2px solid #D96B27;
    border-radius: 48px;
  }
  
  .card-title {
    font-family: 'Pattaya';
    font-size: 1.15rem;
    color: #3d2b1f;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-select, .input-custom {
    border: 3px solid #D96B27;
    font-family: 'Satisfy';
    color: #2c1c11;
    font-size: 1rem;
    border-radius: 24px;
    padding: 0.5rem 1rem;
  }
  
  textarea {
    resize: none;
  }
  
  .form-label {
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: #3d2b1f;
  }
  
  .custom-text {
    font-family: 'Satisfy';
    font-size: 0.7rem;
    color: #6c4f36;
  }
  
  .form-check-label {
    font-size: 0.9rem;
    color: #6c4f36;
    font-family: 'Satisfy';
  }
  
  .btn-submit {
    background-color: #F5D5AE;
    color: #0c0a0a;
    font-size: 1.2rem;
    font-family: 'Satisfy';
    border-radius: 25px;
    border: 3px solid #9B8962;
    padding: 0 1rem;
    transition: all 0.3s ease;
  }
